@import 'variables';

/* Common CSS Start */ 
.btn-primary {
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    background-color: #84A17D;
    padding: 15px 28px;
    border-radius: 10px;
    border: 1px solid #84A17D;
    display: inline-block;
}