
@import 'variables';

/* Bizify Theme Custom Font Family -- DM Sans */ 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: $title-black;
    transition: .3s;
}

/* Bizify Theme custom heading */ 
$heading: (h1, 40px, 48px, 700), (h2, 50px, 75px, 800), (h3, 16px, 18px, 700), (h4, 40px, 28px, 600), (p, 15px, 27px, 400),(span, 22px, 27px, 400);
@each $title, $font_size, $line_heignt, $font_wait in  $heading{
    #{$title}{
        font-size:$font_size;
        line-height: $line_heignt;
        font-weight: $font_wait;
    }
}


/* Bizify Theme Custom Padding-top */ 
@for $i from 1 through 20{
    .pt-#{$i * 10}{
        padding-top: $i * 10px;
    }
}

/* Bizify Theme Custom Padding-bottom */ 
@for $i from 1 through 20{
    .pb-#{$i * 10}{
        padding-bottom: $i * 10px;
    }
}

/* Bizify Theme Custom Margin-Top */ 
@for $i from 1 through 10{
    .mt-#{$i * 10}{
        margin-top: $i * 10px;
    }
}

/* Bizify Theme Custom Margin-bottom */ 
@for $i from 1 through 10{
    .mb-#{$i * 10}{
        margin-bottom: $i * 10px;
    }
}
