/* Bizify Theme Custom Font Family -- DM Sans */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #282943;
  transition: 0.3s;
}

/* Bizify Theme custom heading */
h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  line-height: 75px;
  font-weight: 800;
}

h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

h4 {
  font-size: 40px;
  line-height: 28px;
  font-weight: 600;
}

p {
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
}

span {
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
}

/* Bizify Theme Custom Padding-top */
.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-200 {
  padding-top: 200px;
}

/* Bizify Theme Custom Padding-bottom */
.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-200 {
  padding-bottom: 200px;
}

/* Bizify Theme Custom Margin-Top */
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

/* Bizify Theme Custom Margin-bottom */
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

/* 1. Header Top CSS Start */
.headertop__addres {
  display: flex;
  gap: 40px;
}
.headertop__social-list {
  display: flex;
  justify-content: end;
  gap: 24px;
}
.headertop__menu-bg {
  background-color: tomato !important;
  border-radius: 10px;
}

.heade-menu-area .menu-bg {
  background-color: #fff;
  border-radius: 10px;
}
.heade-menu-area .btn-primary {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  background-color: #84A17D;
  padding: 15px 28px;
  border-radius: 10px;
  border: 1px solid #84A17D;
}

.header__area {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}

.search-box {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  padding-right: 40px;
  background-color: transparent !important;
}

.input-search::-moz-placeholder {
  color: #000;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search::placeholder {
  color: #000;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  background-color: transparent !important;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  border-bottom: 1px solid rgba(23, 23, 23, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 300px;
  border-radius: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* 2. Hero CSS Start */
.header_hero {
  background-color: #172829;
  padding-top: 240px;
  padding-bottom: 120px;
}
.header_hero .hero_right_content {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_hero .hero_right_content h2 {
  color: #fff;
  font-size: 92px;
  line-height: 105px;
  font-weight: 800;
}
.header_hero .hero_right_content p {
  font-size: 18px;
  max-width: 636px;
  margin-bottom: 40px;
  margin-top: 15px;
}
.header_hero .hero_right_content .hero-riht-video {
  display: flex;
  gap: 47px;
  align-items: center;
}
.header_hero .hero_right_content .hero-riht-video .single-item a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.header_hero .hero_right_content .hero-riht-video .single-item .btn-primary {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  background-color: #84A17D;
  padding: 15px 28px;
  border-radius: 10px;
  border: 1px solid #84A17D;
}
.header_hero .hero_right_content .hero-riht-video .single-item .btn-video i {
  color: #fff;
  background-color: #153C3C;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  margin-right: 30px;
}
.header_hero .hero_left_image {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.header_hero .hero_left_image .hero_image img {
  height: 608px;
  border-radius: 20px;
}
.header_hero .hero_left_image .single-customer {
  display: flex;
  background-color: #fff;
  position: absolute;
  margin-top: -141px;
  border-radius: 10px;
  align-items: center;
  padding: 20px 30px;
  gap: 28px;
  margin-left: -53px;
}
.header_hero .hero_left_image .single-customer h4 {
  color: #282943;
}
.header_hero .hero_left_image .single-customer h4 span {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: #6A7678;
  font-weight: 600;
  margin-top: 5px;
}
.header_hero .hero_left_image .single-customer img {
  width: 58px;
  height: 58px;
}

/* 3. What we do CSS Start */
.what-we-do-area {
  background-color: #84A17D;
}
.what-we-do-area .our-work {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.what-we-do-area .our-work .single-work {
  display: flex;
  gap: 32px;
}
.what-we-do-area .our-work .single-work .single-icon i {
  font-size: 38px;
  background-color: #fff;
  padding: 23px;
  border-radius: 7px;
}
.what-we-do-area .our-work .single-work h4 {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
}
.what-we-do-area .our-work .single-work h4:hover {
  color: tomato;
}
.what-we-do-area .our-work .single-work h4 span {
  display: block;
  font-size: 17px;
  color: #fff;
  font-weight: normal !important;
}/*# sourceMappingURL=style.css.map */