/* Bizify Theme Custom Font Family -- DM Sans */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #282943;
  transition: 0.3s;
}

/* Bizify Theme custom heading */
h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  line-height: 75px;
  font-weight: 800;
}

h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

h4 {
  font-size: 40px;
  line-height: 28px;
  font-weight: 600;
}

p {
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
}

span {
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
}

/* Bizify Theme Custom Padding-top */
.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-200 {
  padding-top: 200px;
}

/* Bizify Theme Custom Padding-bottom */
.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-200 {
  padding-bottom: 200px;
}

/* Bizify Theme Custom Margin-Top */
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

/* Bizify Theme Custom Margin-bottom */
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

/* Common CSS Start */
.btn-primary {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  background-color: #84A17D;
  padding: 15px 28px;
  border-radius: 10px;
  border: 1px solid #84A17D;
  display: inline-block;
}

/* 1. Header Top CSS Start */
.headertop {
  transition: 1s ease;
}
.headertop__link {
  color: #fff;
}
.headertop__addres {
  display: flex;
  gap: 40px;
}
.headertop__social-list {
  display: flex;
  justify-content: end;
  gap: 24px;
}
.headertop__menu-bg {
  background-color: tomato !important;
  border-radius: 10px;
}

.heade-menu-area .menu-bg {
  background-color: #fff;
  border-radius: 10px;
}
.heade-menu-area .btn-primary {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  background-color: #84A17D;
  padding: 15px 28px;
  border-radius: 10px;
  border: 1px solid #84A17D;
}

.header__area {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 12px 0;
}

.header__area.padding-remove {
  padding: 0px;
  transition: 1s ease;
}

.headermiddle {
  padding: 12px 0;
  transition: 1s ease;
}

.headermiddle.headermiddle-remove {
  padding: 0px;
  transition: 1s ease;
}

.search-box {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  padding-right: 40px;
  background-color: transparent !important;
}

.input-search::-moz-placeholder {
  color: #000;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search::placeholder {
  color: #000;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  background-color: transparent !important;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  border-bottom: 1px solid rgba(23, 23, 23, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 300px;
  border-radius: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.headertop.hide-header-top {
  display: none;
  transition: 1s ease;
}

/* 2. Hero CSS Start */
.header_hero {
  background-color: #172829;
  padding-top: 240px;
  padding-bottom: 120px;
}
.header_hero .hero_right_content {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_hero .hero_right_content h2 {
  color: #fff;
  font-size: 92px;
  line-height: 105px;
  font-weight: 800;
}
.header_hero .hero_right_content p {
  font-size: 18px;
  max-width: 636px;
  margin-bottom: 40px;
  margin-top: 15px;
}
.header_hero .hero_right_content .hero-riht-video {
  display: flex;
  gap: 47px;
  align-items: center;
}
.header_hero .hero_right_content .hero-riht-video .single-item a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.header_hero .hero_right_content .hero-riht-video .single-item .btn-primary {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  background-color: #84A17D;
  padding: 15px 28px;
  border-radius: 10px;
  border: 1px solid #84A17D;
}
.header_hero .hero_right_content .hero-riht-video .single-item .btn-video i {
  color: #fff;
  background-color: #153C3C;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  margin-right: 30px;
}
.header_hero .hero_left_image {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.header_hero .hero_left_image .hero_image img {
  height: 608px;
  border-radius: 17px;
}
.header_hero .hero_left_image .single-customer {
  display: flex;
  background-color: #fff;
  position: absolute;
  margin-top: -141px;
  border-radius: 10px;
  align-items: center;
  padding: 20px 30px;
  gap: 28px;
  margin-left: -53px;
}
.header_hero .hero_left_image .single-customer h4 {
  color: #282943;
}
.header_hero .hero_left_image .single-customer h4 span {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: #6A7678;
  font-weight: 600;
  margin-top: 5px;
}
.header_hero .hero_left_image .single-customer img {
  width: 58px;
  height: 58px;
}

/* 3. What we do CSS Start */
.what-we-do-area {
  background-color: #84A17D;
}
.what-we-do-area .our-work {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.what-we-do-area .our-work .single-work {
  display: flex;
  gap: 32px;
}
.what-we-do-area .our-work .single-work .single-icon i {
  font-size: 38px;
  background-color: #fff;
  padding: 23px;
  border-radius: 7px;
}
.what-we-do-area .our-work .single-work h4 {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
}
.what-we-do-area .our-work .single-work h4 span {
  display: block;
  font-size: 17px;
  color: #fff;
  font-weight: normal !important;
}

/* 4. About Us CSS Start */
.about__area__about-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 9px;
  justify-content: center;
}
.about__area__title {
  font-size: 66px;
  font-weight: 800;
  text-transform: capitalize;
}
.about__area__desc {
  font-size: 20px;
  color: #5c5959;
}
.about__area__about-image {
  position: relative;
  z-index: 5;
}
.about__area__about-image:before {
  position: absolute;
  content: "";
  background-color: #F4F5F6;
  width: 59%;
  height: 50%;
  bottom: -46px;
  border-radius: 9px;
  left: -44px;
  z-index: -1;
}
.about__area__about-img {
  border-radius: 17px;
}
.about__area__success-rate {
  display: flex;
  flex-direction: row;
  background-color: #84A17D;
  width: 233px;
  margin-top: -165px;
  position: absolute;
  padding: 25px 0;
  align-items: center;
  gap: 16px;
  padding-left: 28px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
.about__area__success-image {
  width: 60px;
  height: auto;
}
.about__area__success-rate-title {
  font-size: 32px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 800;
}
.about__area__success-rate-text {
  display: block;
  font-size: 17px;
}
.about__area__about-work-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.about__area__work-item {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.about__area__work-item i {
  font-size: 25px;
  margin-right: 15px;
}
.about__area__btn-primary {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  background-color: #84A17D;
  padding: 16px 33px;
  border-radius: 10px;
  border: 1px solid #84A17D;
  display: inline-block;
  margin-top: 33px;
}

/* 5. Services CSS Start */
.services_area {
  background-color: #F4F5F6;
}

.services_area__title {
  line-height: 66px;
  font-size: 60px;
  color: #282943;
}

.services_area__services {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.services_area__single-service {
  background-color: #fff;
  padding: 33px 33px;
  border-radius: 10px;
  box-shadow: 0px 1px 11px -2px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.services_area__service-single-title {
  margin-top: 60px;
  font-size: 29px;
  text-transform: capitalize;
  font-weight: 800;
}

.services_area__service-single-desc {
  font-size: 17px;
  color: #595959;
  margin: 20px 0;
}

.services_area__single-service .services_area__icon {
  font-size: 34px;
  background-color: #F4F5F6;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 6px;
}

.services_area__single-service:hover .services_area__icon {
  background-color: #84A17D;
  transition: 0.3s;
  color: #fff;
}

.services_area__service-single-link {
  color: #84A17D;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 11px;
}

.services_area__service-single-link .services_area__icon-link {
  font-size: 20px;
  background-color: transparent;
}

.services_area__single-service:hover {
  box-shadow: 0px 1px 20px -2px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.services_area-single-service-slide {
  padding: 0 12px;
}

/* 5. Our Project CSS Start */
.our_project_area__title {
  font-size: 66px;
  text-transform: capitalize;
  font-weight: 900;
  color: #282943;
  line-height: 75px;
}
.our_project_area__des {
  font-size: 20px;
  color: #5c5959;
  max-width: 597px;
  margin: 24px 0px;
}
.our_project_area__our-project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.our_project_area__single-project-item {
  display: flex;
  gap: 24px;
  align-items: center;
}
.our_project_area__single-project-item i {
  background-color: #84A17D;
  color: #fff;
  font-size: 37px;
  width: 98px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 8px;
}
.our_project_area__item-title {
  font-size: 23px;
  font-weight: 800;
  text-transform: capitalize;
}
.our_project_area__item-desc {
  display: block;
  font-size: 16px;
  text-transform: none;
  color: #373737;
  margin-top: 12px;
}
.our_project_area__image {
  border-radius: 10px;
  height: 570px;
  width: 564px;
}
.our_project_area__project-image {
  position: relative;
  z-index: 2;
}
.our_project_area__project-image:before {
  position: absolute;
  content: "";
  width: 400px;
  height: 400px;
  background-color: #F4F5F6;
  right: 7px;
  bottom: -51px;
  border-radius: 10px;
  z-index: -1;
}

/* 7. Brand CSS Start */
.brand_area__brand-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 8. Latest Project CSS Start */
.latest_project {
  background-color: #F4F5F6;
}

.latest_project__title {
  line-height: 66px;
  font-size: 60px;
  color: #282943;
  text-transform: capitalize;
  font-weight: 800;
}

.latest_project__single-latest-project {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 30px;
  padding-bottom: 30px;
  position: relative;
}

.latest_project-latest-project-slide {
  display: flex;
  gap: 20px;
}

.latest_project__icon {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 70px;
  height: 70px;
  background-color: #84A17D;
  text-align: center;
  line-height: 70px;
  border-radius: 8px;
  transform: translateX(-50%);
}

.latest_project__latest-title {
  color: #fff;
  font-size: 25px;
  text-transform: capitalize;
}

.latest_project__icon i {
  font-size: 26px;
  rotate: -50deg;
  color: #fff;
}

.latest_project__single-latest-project:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  top: 0;
  left: 0;
  opacity: 0.75;
}

.latest_project__latest-content {
  z-index: 5;
}

.latest_project__latest-sub-title {
  color: #fff;
}

.latest_project__latest-sub-title {
  font-size: 19px;
  text-transform: capitalize;
  font-weight: normal;
}

/* 9. Latest Project CSS Start */
.team_area__title {
  line-height: 66px;
  font-size: 60px;
  color: #282943;
  font-weight: 800;
}
.team_area__title::first-letter {
  text-transform: uppercase;
}
.team_area__team {
  border: 17px solid #F4F5F6;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: 1s ease;
}
.team_area__team:hover .team_area__team-content {
  margin-bottom: 0;
  transition: 1s ease;
}
.team_area__team-content {
  background-color: #F4F5F6;
  padding: 20px 0;
  text-align: center;
  position: absolute;
  width: 100%;
  margin-bottom: -67px;
  transition: 1s ease;
}
.team_area__team-title {
  font-size: 28px;
  font-weight: 800;
  text-transform: capitalize;
}
.team_area__team-sub-title {
  display: block;
  font-weight: normal;
  font-size: 17px;
  margin: 16px;
  text-transform: capitalize;
}
.team_area__team-social {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.team_area__single-social {
  background-color: #fff;
  padding: 10px 13px;
  text-align: center;
}
.team_area__single-social:hover {
  background-color: #84A17D;
  transition: 0.3s;
}
.team_area__single-social:hover .team_area__team-link {
  color: #fff;
  transition: 0.3s;
}
.team_area__team-link {
  text-transform: uppercase;
}
.team_area__single-team {
  background-size: cover;
  background-position: center;
  height: 450px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

/* 10. video CSS Start */
.video_area {
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.video_area__video {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #84A17D;
}

.logo {
  position: absolute;
  width: 140px;
  height: 140px;
  background-size: cover;
  border-radius: 100vmax;
  background-position: center;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: consolas;
  color: #fff;
  font-size: 17px;
  animation: textRotation 8s linear infinite;
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}
.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 100px;
}

/* 11. Pricing CSS Start */
.pricing_area__title {
  line-height: 66px;
  font-size: 60px;
  color: #282943;
  font-weight: 800;
}
.pricing_area__title::first-letter {
  text-transform: uppercase;
}
.pricing_area__single-pricing {
  background-color: #F4F5F6;
  padding: 45px 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 43px;
  transition: 0.3s;
}
.pricing_area__single-pricing:hover {
  background: linear-gradient(130deg, transparent 65%, #84A17D 100%);
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.pricing_area__pricing-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 28px;
}
.pricing_area__pricing-top-title {
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
}
.pricing_area__pricing-top-sub-title {
  font-weight: normal;
  font-size: 17px;
  color: #4f4d4d;
  display: block;
}
.pricing_area__pricing-top-value {
  text-align: center;
}
.pricing_area__value-sub-title {
  display: block;
  font-size: 15px;
  text-transform: capitalize;
  margin-top: 5px;
}
.pricing_area__value-title {
  background-color: #fff;
  padding: 22px 18px 12px 18px;
  border-radius: 8px;
  transition: 0.3s;
}
.pricing_area__single-pricing:hover .pricing_area__value-title {
  background-color: #84A17D;
  color: #fff;
  transition: 0.3s;
}
.pricing_area__pricing-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 0;
}
.pricing_area__pricing-item {
  font-size: 19px;
  color: #3e3e3e;
}
.pricing_area__pricing-item i {
  margin-right: 13px;
  font-size: 23px;
  color: #84A17D;
}
.pricing_area__pricing-btn-link {
  background-color: #172426;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  padding: 13px 32px;
  border-radius: 7px;
  border: 1px solid #172426;
  transition: 0.3s;
}
.pricing_area__single-pricing:hover .pricing_area__pricing-btn-link {
  background-color: #84A17D;
  transition: 0.3s;
  border: 1px solid #84A17D;
}

/* 12. Testimonial CSS Start */
.testimonial_area {
  background-color: #153C3C;
}
.testimonial_area__title {
  line-height: 66px;
  font-size: 60px;
  color: #fff;
  font-weight: 800;
}
.testimonial_area__title::first-letter {
  text-transform: uppercase;
}
.testimonial_area__testimonial-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial_area__testimonial-top-btn {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  background-color: #84A17D;
  padding: 16px 33px;
  border-radius: 10px;
  border: 1px solid #84A17D;
  display: inline-block;
  margin-top: 33px;
}
.testimonial_area__img {
  height: 570px;
  width: 90%;
  border-radius: 20px;
}
.testimonial_area__single-testimonial {
  display: flex;
  flex-direction: column;
  height: 570px;
  justify-content: center;
}
.testimonial_area__testimonial-content {
  color: #fff;
}
.testimonial_area__testimonial-content i {
  font-size: 60px;
  color: #fff;
}
.testimonial_area__testimonial-p {
  font-size: 23px;
  line-height: 34px;
  margin: 30px 0;
}
.testimonial_area__testimonial-rating {
  margin-top: 35px;
}
.testimonial_area__review-rating-list {
  display: flex;
  gap: 10px;
  color: #ECB014;
}
.testimonial_area__client-name {
  color: #fff;
  font-size: 27px;
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 12px;
}
.testimonial_area__client-desig {
  display: block;
  font-size: 15px;
  text-transform: capitalize;
  margin-top: 7px;
}

/* 13. Testimonial CSS Start */
.faq_area__title {
  line-height: 66px;
  font-size: 60px;
  color: #282943;
  font-weight: 800;
}
.faq_area__title::first-letter {
  text-transform: uppercase;
}

.faq_area__single-col {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.faq_area__single-col input {
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.faq_area__single-col textarea {
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #ddd;
  height: 150px;
}

.faq_area__faq-wrapper {
  background-color: #F4F5F6;
  padding: 35px;
  border-radius: 18px;
}

.faq_area__contact-form {
  background-color: #fff;
  padding: 63px 30px;
  border-radius: 18px;
}

.faq_area__contact-title {
  font-size: 28px;
  text-transform: capitalize;
}

.faq_area__accro-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion-button {
  padding: 0 20px !important;
  height: 70px;
}

/* 14. Blog CSS Start */
.blog_area {
  background-color: #F4F5F6;
}
.blog_area__title {
  line-height: 66px;
  font-size: 60px;
  color: #282943;
  font-weight: 800;
}
.blog_area__title::first-letter {
  text-transform: uppercase;
}
.blog_area__single-blog {
  background-color: #fff;
  border-radius: 18px;
}
.blog_area__image {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.blog_area__blog-content {
  padding: 25px;
}
.blog_area__cat-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  color: #666565;
  text-transform: capitalize;
  font-size: 17px;
}
.blog_area__cat-name i {
  font-size: 7px;
  color: #666565;
}
.blog_area__blog-title {
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
  margin: 12px 0;
  color: #282943;
}
.blog_area__btn-link {
  color: #84A17D;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.blog_area__date {
  font-size: 17px;
  text-transform: capitalize;
  color: #666565;
}

/* 15. Blog CSS Start */
.footer_area {
  background-color: #153C3C;
}
.footer_area__footer-social {
  margin-top: 36px;
}
.footer_area__desc {
  color: #fff;
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 22px;
  max-width: 316px;
}
.footer_area__link {
  color: #333;
  padding: 3px;
  transition: 0.3s;
}
.footer_area__link i {
  background-color: #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 7px;
}
.footer_area__link i:hover {
  background-color: #84A17D;
  color: #fff;
  transition: 0.3s;
}
.footer_area__footer-title {
  color: #fff;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 38px;
}
.footer_area__menu-item {
  padding: 7px 0;
}
.footer_area__menu-list li a {
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 400;
}
.footer_area__footer-newsletter-form {
  position: relative;
}
.footer_area__footer-newsletter-form input {
  padding: 18px;
  width: 100%;
  border-radius: 8px;
  border: none;
}
.footer_area__footer-newsletter-form input:focus {
  outline: none;
}
.footer_area__footer-newsletter-form {
  position: relative;
}
.footer_area__footer-newsletter-form input {
  padding: 18px;
  width: 100%;
  border-radius: 8px;
  border: none;
}
.footer_area__footer-newsletter-form input:focus {
  outline: none;
}
.footer_area__footer-newsletter-form {
  margin-top: 41px;
}
.footer_area__footer-newsletter-form button {
  position: absolute;
  background-color: #84A17D;
  padding: 8px 23px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  right: 8px;
  top: 9px;
  transition: 0.3s;
}
.footer_area__footer-newsletter-form button:hover {
  background-color: #153C3C;
  color: #fff;
  transition: 0.3s;
}
.footer_area__footer-newsletter-form button:hover {
  background-color: #153C3C;
  color: #fff;
  transition: 0.3s;
}
.footer_area__footer-news-desc {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  max-width: 337px;
}

.footer_copyright {
  background-color: #153C3C;
}
.footer_copyright__author {
  color: #fff;
}
.footer_copyright__footer-content {
  border-top: 1px solid rgba(221, 221, 221, 0.3803921569);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer_copyright__privacy-menu-list {
  display: flex;
  gap: 40px;
}
.footer_copyright__privacy-menu-list li a {
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */