
/* 4. About Us CSS Start */ 
.about__area{
    &__about-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 9px;
        justify-content: center;
    }
    &__title {
        font-size: 66px;
        font-weight: 800;
        text-transform: capitalize;
    }
    &__desc {
        font-size: 20px;
        color: #5c5959;
    }
    &__about-image {
        position: relative;
        z-index: 5;
    }
    &__about-image:before {
        position: absolute;
        content: "";
        background-color: #F4F5F6;
        width: 59%;
        height: 50%;
        bottom: -46px;
        border-radius: 9px;
        left: -44px;
        z-index: -1;
    }
    &__about-img {
        border-radius: 17px;
    }
    &__success-rate {
        display: flex;
        flex-direction: row;
        background-color: #84A17D;
        width: 233px;
        margin-top: -165px;
        position: absolute;
        padding: 25px 0;
        align-items: center;
        gap: 16px;
        padding-left: 28px;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
    }
    &__success-image {
        width: 60px;
        height: auto;
    }
    &__success-rate-title {
        font-size: 18px;
        color: #fff;
        text-transform: capitalize;
        font-weight: normal;
    }
    &__about-work-list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    &__work-item {
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    &__work-item i {
        font-size: 25px;
        margin-right: 15px;
    }
    &__btn-primary {
        color: #fff;
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 600;
        background-color: #84A17D;
        padding: 16px 33px;
        border-radius: 10px;
        border: 1px solid #84A17D;
        display: inline-block;
        margin-top: 33px;
    }
}












  





