/* 7. Brand CSS Start */ 

.brand_area{
    &__brand-gallery {
        display: grid;
        grid-template-columns: repeat(6, auto);
        align-items: center;
        justify-content: space-between;
        @include min-xs{
            grid-template-columns: repeat(2, auto);
        }
    }
}
