
/* 13. Testimonial CSS Start */ 
.faq_area{
    &__title {
        line-height: 66px;
        font-size: 60px;
        color: $title-black;
        font-weight: 800;
    }
    &__title::first-letter {
        text-transform: uppercase;
    }



}






.faq_area__single-col {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .faq_area__single-col input {
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
  }
  .faq_area__single-col textarea {
	width: 100%;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid #ddd;
    height: 150px;
}


.faq_area__faq-wrapper {
    background-color: #F4F5F6;
    padding: 35px;
    border-radius: 18px;
  }
  .faq_area__contact-heading {
    margin-bottom: 40px;
  }
  .faq_area__contact-desc {
    font-size: 16px;
    text-transform: capitalize;
    color: #828282;
    font-weight: normal;
  }
  .faq_area__contact-form {
    background-color: #fff;
    padding: 63px 30px;
    border-radius: 18px;
  }
  .faq_area__contact-title {
    font-size: 28px;
    text-transform: capitalize;
  }

  .faq_area__accro-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  .accordion-button {
  color: #282943 !important;
	padding: 0 20px !important;
	height: 70px;
  font-size: 22px;
	font-weight: 700;
  border: 0px !important;
}
.accordion-header .accordion-button:not(.collapsed) {
  border-bottom-color: tomato !important;
}
.accordion-button.collapsed{
  border-radius: 10px !important;
}
.accordion-button:not(.collapsed) {
  color: #84A17D !important;
  background-color: #fff !important;
  border: 0px !important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #fff;
}
.accordion .accordion-item button{
  border-bottom: none !important;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: 10px !important;
}
.accordion-collapse {
  border-bottom: 0px !important;
}

.faq_area__faq-desc {
	font-size: 18px;
}
.faq_area__faq-section {
	display: flex;
	align-items: center;
	height: 551px;
}
.accordion {
	width: 100% !important;
}
.accordion-item {
  border: 0px !important;
  border-radius: 10px !important;
	margin-top: 13px !important;
}





.slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -46px;
}
.slick-dots li {
  display: inline-block;
  margin: 0 10px;
}
.slick-dots li button {
  text-indent: -9999px;
  width: 8px;
  border-radius: 50%;
  height: 8px;
  border: 0;
  background-color: #3F4E50;
}
.slick-dots li {
  padding: 4px;
  border-radius: 50%;
  line-height: 0px;
}
.slick-dots li.slick-active {
  border: 2px solid #333;
}


