
/* 15. Blog CSS Start */ 


.footer_area {
	background-color: #153C3C;
    &__footer-social {
      margin-top: 36px;
    }
    &__desc {
        color: #fff;
        font-size: 17px;
        margin-top: 15px;
        margin-bottom: 22px;
        max-width: 316px;
    }
    &__link {
        color: #333;
        padding: 3px;
        transition: .3s;
    }
    &__link i {
        background-color: #fff;
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        border-radius: 7px;
    }
    &__link i:hover {
        background-color: #84A17D;
        color: #fff;
        transition: .3s;
    }
    &__footer-title {
      color: #fff;
      font-size: 24px;
      text-transform: capitalize;
      margin-bottom: 38px;
    }
    &__menu-item {
      padding: 7px 0;
    }
    &__menu-list li a {
      color: #fff;
      font-size: 17px;
      text-transform: capitalize;
      font-weight: 400;
    }
    &__footer-newsletter-form {
      position: relative;
    }
    &__footer-newsletter-form input {
      padding: 18px;
      width: 100%;
      border-radius: 8px;
      border: none;
    }
    &__footer-newsletter-form input:focus {
      outline: none;
    }
    &__footer-newsletter-form {
      position: relative;
    }
    &__footer-newsletter-form input {
      padding: 18px;
      width: 100%;
      border-radius: 8px;
      border: none;
    }
    &__footer-newsletter-form input:focus {
      outline: none;
    }
    &__footer-newsletter-form {
      margin-top: 41px;
    }
    &__footer-newsletter-form button {
      position: absolute;
      background-color: #84A17D;
      padding: 8px 23px;
      color: #fff;
      text-transform: capitalize;
      font-weight: 700;
      right: 8px;
      top: 9px;
      transition: .3s;
    }
    &__footer-newsletter-form button:hover {
      background-color: #153C3C;
      color: #fff;
      transition: .3s;
    }
    &__footer-newsletter-form button:hover {
      background-color: #153C3C;
      color: #fff;
      transition: .3s;
    }
    &__footer-news-desc {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      max-width: 337px;
    }

}


.footer_copyright{
  background-color: #153C3C;
  &__author {
    color: #fff;
  }
  &__footer-content {
    border-top: 1px solid #dddddd61;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    @include min-xs{
      flex-direction: column;
    }
  }
  &__privacy-menu-list {
    display: flex;
    gap:40px;
  }
  &__privacy-menu-list li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    @include min-xs{
      font-size: 16px;
    }
  }
}



















 








