/* 12. Testimonial CSS Start */ 

.testimonial_area{
    background-color: $section-bg;
    &__title{
        line-height: 66px;
        font-size: 60px;
        color: $title-white;
        font-weight: 800;
        @include min-xs{
          font-size: 52px;
          line-height: 60px;
        }
    }
    &__title::first-letter {
        text-transform: uppercase;
    }
    &__testimonial-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__testimonial-top-btn {
        color: #fff;
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 600;
        background-color: #84A17D;
        padding: 16px 33px;
        border-radius: 10px;
        border: 1px solid #84A17D;
        display: inline-block;
        margin-top: 33px;
    }




}





.bizify_clients {
  color: #fff;
}
.bizify_client_review_list {
  display: flex;
  gap: 10px;
  color: #ECB014;
}
.bizify_client_name {
  font-size: 27px;
  padding-top: 10px;
  @include min-xs{
    font-size: 22px;
  }
}
.bizify_single_content i {
  font-size: 56px;
}
.bizify_client_designation {
  display: block;
  font-size: 16px;
  padding-top: 10px;
}
.bizify_single_content {
	border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}
.bizify_single_content p {
	font-size: 24px;
	padding: 22px 0;
	width: 100%;
	line-height: 33px;
  @include min-xs{
    font-size: 20px;
  }
}
.single_bizify_clients {
  flex-basis: 50%;
}
.bizify_clients-content {
	height: 545px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.bizify_test {
  display: flex;
  justify-content: space-between;
  position: relative;
  @include min-xs{
    flex-direction: column;
    gap: 50px;
  }
}
.single_bizify_clients img {
  width: 560px !important;
  height: 545px;
  border-radius: 20px;
  @include min-xs{
    width: 100% !important;
    height:100% !important;
  }
  @include min-lg{
    width: 496px !important;
  }
}

.owl-nav .owl-prev {
  position: absolute;
  top: 77%;
  right:68px;
  @include min-xs{
    display: none;
  }
}
.owl-nav .owl-next {
  position: absolute;
  top: 77%;
  right: 0;
  @include min-xs{
    display: none;
  }
}
.owl-nav button {
	background-color: transparent;
	border: 0;
}
.owl-nav .am-next i {
	color: #333;
	font-size: 29px;
}
.owl-nav .am-next i {
	color: #333;
	font-size: 20px;
	background-color: #fff;
	transition: .3s;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
}
.owl-nav .am-next i:hover {
	color: #fff;
	background-color: #84A17D;
	transition: .3s;
}

.owl-nav .am-prev i {
	color: #333;
	font-size: 29px;
}
.owl-nav .am-prev i {
	color: #333;
	font-size: 20px;
	background-color: #fff;
	transition: .3s;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
}
.owl-nav .am-prev i:hover {
	color: #fff;
	background-color: #84A17D;
	transition: .3s;
}


















  






