/* 10. video CSS Start */ 








.video_area {
    background-size: cover;
    background-position: center;
    height:80vh;
    // position: relative;
  }
  .video_area__video {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


.circle {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 100vmax;
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: #84A17D;
}

.logo {
	position: absolute;
	width: 140px;
	height: 140px;
	background-size: cover;
	border-radius: 100vmax;
	background-position: center;
}

.text {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: consolas;
	color: #fff;
	font-size: 17px;
	animation: textRotation 8s linear infinite;
}


@keyframes textRotation {
	to {
		transform: rotate(360deg);
	}
}
.text span {
	position: absolute;
	left: 50%;
	font-size: 1.2em;
	transform-origin: 0 100px;
}

