
/* 4. About Insurance CSS Start */ 

.insurance_area{
    background-color: #F4F5F6;
    &__insurance-content {
        display: grid;
        grid-template-columns: auto;
        align-content: center;
        height: 600px;
        gap: 25px;
    }
    &__insurance-content .service-title-2 {
        text-align: left;
    }
    &__insurance-desc {
        font-size: 18px;
        padding: 10px 0;
        width: 541px;
    }
    &__insurance-singel-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
    }
    &__insurance-single-number {
        font-size: 50px;
    }
    &__insurance-single-title {
        display: block;
        margin-top: 21px;
        text-transform: capitalize;
        color: #3F4E50;
    }
    &__insurance-img {
        border-radius: 17px;
        height: 600px;
    }
    &__insurance-btn .btn-primary:hover {
        background-color: #9db497;
        transition: .3s;
        border: 1px solid #9db497;
    }
}





















