
/* 3. Service CSS Start */ 

.service_2_area{
    &__single-service-2 {
        background-color: #F4F5F6;
        padding: 30px;
        border-radius: 15px;
    }
    &__single-service-2 .ser-icon {
        font-size: 30px;
        background-color: #c2d0be;
        width: 70px;
        height: 70px;
        text-align: center;
        line-height: 70px;
        border-radius: 6px;
        transition: .3s;
    }
    &__single-service-2:hover .ser-icon {
        background-color: #84a17d;
        transition: .3s;
        color: #fff;
    }
    &__service-2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        gap: 22px;
    }
    &__service-2-content {
        margin-top: 45px;
    }
    &__service-2-title {
        font-size: 21px;
        line-height:40px;
    }
    &__single-service-2:hover .read-more{
        color: #BCCAB9;
        transition: .3s;
    }
    &__service-2-btn-area .read-more {
        margin-left: 8px;
    }
    &__service-2-btn {
        color: #84A17D;
        font-weight: 600;
    }
    &__single-service-2:hover .service_2_area__service-2-btn{
        color: #BCCAB9;
        transition: .3s;
    }
    &__single-service-2.item-5 {
        grid-column: 1 / 3;
    }
    &__single-service-2.item-5 {
        grid-column: 1/3;
        background-color: #153C3C;
        color: #fff;
        display: grid;
        padding: 0px !important;
    }
    &__service-2-content.item-5-content {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 20px;
        align-items: center;
        margin-top: 0px !important;
        padding: 30px !important;
    }
    &__service-2-img {
        border-radius: 15px;
        width: 200px;
    }
    &__service-2-title.item-5-title {
        font-size: 27px;
        max-width: 382px;
        text-transform: capitalize;
    }
    &__service-2-desc.item-5-desc {
        font-size: 18px;
        width: 390px;
        margin-top: 15px;
        margin-bottom: 31px;
    }
    &__service-2-btn-live-chat {
        color: #fff;
        text-transform: capitalize;
        background-color: #84A17D;
        padding: 11px 25px;
        border-radius: 6px;
        font-weight: 700;
    }


}



















