



.service_2_area__service-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 22px;
  }
  .service_2_area__single-service-2 {
    background-color: #F4F5F6;
    padding: 30px;
    border-radius: 15px;
  }
  .service_2_area__service-2-title {
    font-size: 21px;
  }
  .service_2_area__single-service-2.item-5 {
	grid-column: 1 / 3;
}

.service_2_area__single-service-2 i {
    font-size: 30px;
    background-color: #c2d0be;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 6px;
    transition: .3s;
}

.service_2_area__single-service-2:hover i {
    background-color: #84a17d;
    transition: .3s;
    color: #fff;
}
.service_2_area__service-2-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}